<div class="pclive">
  <div class="pctitle">
    <p class="pcp">Top Live Channels</p>
    <div class="pctj">
      <p class="pcp2">Broadcasters people are watching now</p>
    </div>
  </div>
  <div class="pcitem cz">
    <div class="was">
      <div class="LIVE">
        <div class="co"></div>
        <p class="LI">LIVE</p>
      </div>
      <span class="rsss">30,396 viewers</span>
      <img class="livefm" src="../../../assets/img/live_user_ddahyoni-320x180.jpg">
    </div>
    <div class="pcmainjs">
      <div class="avd">
        <div class="qqqq">
          <img class="avdimg" src="../../../assets/img/624ea6571705a4e4-profile_image-50x50.jpeg">
        </div>
      </div>
      <div class="pcjs">
        <a href="#" title="따랜드파이널 1일차">
          <h3 class="liveroomname">따랜드파이널 1일차</h3>
        </a>
        <p class="username ctrl">
          <a href="#" class="usernamea">따효니 (ddahyoni)</a>
        </p>
        <p class="username">
          <a href="#" class="usernamea">Hearthstone</a>
        </p>
      </div>
    </div>
  </div>
  <div class="pcitem">
    <div class="was">
      <div class="LIVE">
        <div class="co"></div>
        <p class="LI">LIVE</p>
      </div>
      <span class="rsss">30,396 viewers</span>
      <img class="livefm" src="../../../assets/img/live_user_ninja-320x180%20(1).jpg">
    </div>
    <div class="pcmainjs">
      <div class="avd">
        <div class="qqqq">
          <img class="avdimg" src="../../../assets/img/6d942669-203f-464d-8623-db376ff971e0-profile_image-50x50.png">
        </div>
      </div>
      <div class="pcjs">
        <a href="#" title="Lets game! | @Ninja on all social medias">
          <h3 class="liveroomname">Lets game! | @Ninja on all social...</h3>
        </a>
        <p class="username ctrl">
          <a href="#" class="usernamea">Ninja</a>
        </p>
        <p class="username">
          <a href="#" class="usernamea">Fortnite</a>
        </p>
      </div>
    </div>
  </div>
  <div class="pcitem">
    <div class="was">
      <div class="LIVE">
        <div class="co"></div>
        <p class="LI">LIVE</p>
      </div>
      <span class="rsss">30,396 viewers</span>
      <img class="livefm" src="../../../assets/img/live_user_ddahyoni-320x180.jpg">
    </div>
    <div class="pcmainjs">
      <div class="avd">
        <div class="qqqq">
          <img class="avdimg" src="../../../assets/img/624ea6571705a4e4-profile_image-50x50.jpeg">
        </div>
      </div>
      <div class="pcjs">
        <a href="#" title="따랜드파이널 1일차">
          <h3 class="liveroomname">따랜드파이널 1일차</h3>
        </a>
        <p class="username ctrl">
          <a href="#" class="usernamea">따효니 (ddahyoni)</a>
        </p>
        <p class="username">
          <a href="#" class="usernamea">Hearthstone</a>
        </p>
      </div>
    </div>
  </div>
  <div class="pcitem cz">
    <div class="was">
      <div class="LIVE">
        <div class="co"></div>
        <p class="LI">LIVE</p>
      </div>
      <span class="rsss">30,396 viewers</span>
      <img class="livefm" src="../../../assets/img/live_user_ddahyoni-320x180.jpg">
    </div>
    <div class="pcmainjs">
      <div class="avd">
        <div class="qqqq">
          <img class="avdimg" src="../../../assets/img/624ea6571705a4e4-profile_image-50x50.jpeg">
        </div>
      </div>
      <div class="pcjs">
        <a href="#" title="따랜드파이널 1일차">
          <h3 class="liveroomname">따랜드파이널 1일차</h3>
        </a>
        <p class="username ctrl">
          <a href="#" class="usernamea">따효니 (ddahyoni)</a>
        </p>
        <p class="username">
          <a href="#" class="usernamea">Hearthstone</a>
        </p>
      </div>
    </div>
  </div>
  <div class="pcitem">
    <div class="was">
      <div class="LIVE">
        <div class="co"></div>
        <p class="LI">LIVE</p>
      </div>
      <span class="rsss">30,396 viewers</span>
      <img class="livefm" src="../../../assets/img/live_user_ddahyoni-320x180.jpg">
    </div>
    <div class="pcmainjs">
      <div class="avd">
        <div class="qqqq">
          <img class="avdimg" src="../../../assets/img/624ea6571705a4e4-profile_image-50x50.jpeg">
        </div>
      </div>
      <div class="pcjs">
        <a href="#" title="따랜드파이널 1일차">
          <h3 class="liveroomname">따랜드파이널 1일차</h3>
        </a>
        <p class="username ctrl">
          <a href="#" class="usernamea">따효니 (ddahyoni)</a>
        </p>
        <p class="username">
          <a href="#" class="usernamea">Hearthstone</a>
        </p>
      </div>
    </div>
  </div>
  <div class="pcitem">
    <div class="was">
      <div class="LIVE">
        <div class="co"></div>
        <p class="LI">LIVE</p>
      </div>
      <span class="rsss">30,396 viewers</span>
      <img class="livefm" src="../../../assets/img/live_user_ddahyoni-320x180.jpg">
    </div>
    <div class="pcmainjs">
      <div class="avd">
        <div class="qqqq">
          <img class="avdimg" src="../../../assets/img/624ea6571705a4e4-profile_image-50x50.jpeg">
        </div>
      </div>
      <div class="pcjs">
        <a href="#" title="따랜드파이널 1일차">
          <h3 class="liveroomname">따랜드파이널 1일차</h3>
        </a>
        <p class="username ctrl">
          <a href="#" class="usernamea">따효니 (ddahyoni)</a>
        </p>
        <p class="username">
          <a href="#" class="usernamea">Hearthstone</a>
        </p>
      </div>
    </div>
  </div>
  <div class="tjend addnew">
    <a href="#" class="enda">
      <p class="endp">See all live Channels</p>
      <div class="hah">
        <svg class="endsvg" width="14" height="18" version="1.1" x="0" y="0">
          <path d="M6.293 3.294a1.006 1.006 0 0 0 0 1.42L11.578 10l-5.285 5.287a1.007 1.007 0 0 0 0 1.42c.19.19.442.294.71.294a.99.99 0 0 0 .708-.295l5.995-5.996a1.003 1.003 0 0 0 0-1.42L7.711 3.294a1.002 1.002 0 0 0-1.418 0" fill-rule="evenodd"></path>
        </svg>
      </div>
    </a>
  </div>
</div>
