.top-nav-c{
    position: relative;
    margin-left: 50px;
}
.top-nav{
    width: 100%;
    height: 50px;
    background-color: #4b367c;
}
.coin{
    fill: #fff;
}
.nav li{
    float: left;
    color: #fff;
}
.nav li a{
    color: #d3cae8;
    line-height: 30px;
}
.nav li a:hover{
    background-color: transparent!important;
    color: #fff!important;
}
.nav li a:focus{
    background-color: transparent!important;
}
.logo{
    float: left;
    position: absolute;
    top: 10px;
    left: 7px;
}
.ad{
    position: absolute;
    top: 10px;
    left: 600px;
}
#ddd{
    /*position: absolute;*/
    /*left: -216px;*/
    /*top: 5px;*/
}
#fdjdiv{
    width: 30px;
    height: 30px;
    background-color: #fff;
    z-index: 100;
    position: relative;
    left: -170px;
}
.fdj{
    position: absolute;
    top: 5px;
    left: 5px;
}
.input{
    position: absolute;
    left: -140px;
    top: 0px;
    width: 446px;
    height: 30px;
    border: none;
}
#dw{
    width: 100%;
    height: 50px;
    position: relative;
}
.btn{
    background-color: #4b367c;
    width: 115px;
    height: 35px;
    border: 1px solid white!important;
    position: absolute;
    left: -140px;
    top: -2px;
}
.btn:hover{
    color: #fff!important;
}
.btn:focus{
    color: #fff!important;
}
.ri{
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}
.jt{
    position: absolute;
    left: 5px;
    top: 6px;
}
.font{
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 33px;
}
.xjt{
    position: absolute;
    right: 3px;
    top: 8px;
}
#king{
    position: absolute;
    right: 168px;
    top: 7px;
    position: relative;
}
.msg{
    width: 16.28px;
    height: 16.75px;
    line-height: 16.75px;
    background-color: red;
    position: absolute;
    top: -12px;
    right: -8px;
}
.btn1{
    height: 33.59px;
    background-color: #6339A4;
    border: none;
}
.btn1:hover{
    background-color: #7C54BE;
}
.login{
    margin-right: 10px;
}
#xs{
    width: 29.59px;
    height: 33.59px;
    position: absolute;
    left: -226px;
    top: -1.21px;
    line-height: 33.59px;
}
.dd{
    position: absolute;
    top: 8px;
    right: 5px;
}
#xs:hover{
    background-color: #553d88;
    cursor: pointer;
}
