<div class="futer">
  <div class="mainfuter">
    <div class="tb">
      <svg class="tbsvg" width="30" height="30" version="1.1" viewBox="0 0 30 30" x="0" y="0">
        <path clip-rule="evenodd" d="M21,9h-2v6h2V9z M5.568,3L4,7v17h5v3h3.886L16,24h5l6-6V3H5.568z M25,16l-4,4h-6l-3,3v-3H8V5h17V16z M16,9h-2v6h2V9z" fill-rule="evenodd"></path>
      </svg>
    </div>
    <div class="futera">
      <a href="#" class="rfa">About</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Blog</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Turbo</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Music</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Advertise</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Developers</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Partners</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Mobile</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Jobs</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Help</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Terms</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Privacy Policy</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Ad Choices</a>
    </div>
    <div class="futera">
      <a href="#" class="rfa">Cookie Policy</a>
    </div>
    <div class="futera fndiva">
      <a href="#" class="rfa">Language</a>
    </div>
  </div>
</div>
