<div class="sidebar-main">
  <div class="sign-up">
    <div class="sign-up-header">
      <img class="sign-up-bg-img" src="../../../assets/imgs/upsell-center-dark-6c092df86238db84cff1.png">
      <div class="sign-up-profile">
        <img class="sign-up-profile-img" src="../../../assets/imgs/0c9813cae3797d96-profile_image-70x70.png">
      </div>
    </div>
    <div class="sign-up-con">
      <p class="sign-up-p">Sign up to experience the best of <strong>StarCraft</strong>:</p>
      <div class="sign-up-option">
        <svg width="20px" height="20px" version="1.1" viewBox="0 0 20 20" x="0px" y="0px">
          <path d="M7.429 15c-.245 0-.49-.09-.683-.269l-3.428-3.2a1 1 0 0 1 1.364-1.463l2.747 2.564 7.889-7.363a1 1 0 0 1 1.365 1.462l-8.571 8a1.002 1.002 0 0 1-.683.27" fill-rule="evenodd"></path>
        </svg>
        <p class="sign-up-option-p">Chat with other fans</p>
      </div>
      <div class="sign-up-option">
        <svg width="20px" height="20px" version="1.1" viewBox="0 0 20 20" x="0px" y="0px">
          <path d="M7.429 15c-.245 0-.49-.09-.683-.269l-3.428-3.2a1 1 0 0 1 1.364-1.463l2.747 2.564 7.889-7.363a1 1 0 0 1 1.365 1.462l-8.571 8a1.002 1.002 0 0 1-.683.27" fill-rule="evenodd"></path>
        </svg>
        <p class="sign-up-option-p">Capture your favorite moments</p>
      </div>
      <div class="sign-up-option">
        <svg width="20px" height="20px" version="1.1" viewBox="0 0 20 20" x="0px" y="0px">
          <path d="M7.429 15c-.245 0-.49-.09-.683-.269l-3.428-3.2a1 1 0 0 1 1.364-1.463l2.747 2.564 7.889-7.363a1 1 0 0 1 1.365 1.462l-8.571 8a1.002 1.002 0 0 1-.683.27" fill-rule="evenodd"></path>
        </svg>
        <p class="sign-up-option-p">Watch in Dark Mode!</p>
      </div>
    </div>
    <button class="btn btnc"><span class="btn-span">Sign up</span></button>
  </div>
  <div class="fdiv">
    <p class="fp">Featured Channels</p>
  </div>
  <div class="itemdiv">
    <a href="#" class="fitem">
      <div>
      <img class="itemimg" src="../../../assets/imgs/e4abf509-cbca-4e1b-a2c3-4487358ee484-profile_image-70x70.png">
      </div>
      <div class="itemdtl">
        <div>
          <p class="itemp">CyberGamesArena</p>
        </div>
        <div>
          <span class="itemspan">PLAYERUNKNOWN'S BATTL...</span>
        </div>
      </div>
    </a>
    <button class="itembtn">Follow</button>
  </div>
</div>
